html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
}

body > header{
    background-color: grey;
    height: 50px;
}

body > header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > header > nav > ul > li > a{
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    text-align: center;
    color:black;
}

body > header > nav > ul > li > a:hover{
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    text-align: center;
    color:white;
}

body > header > nav > ul > li{
    text-decoration: none;
    padding: 0.5em;
    list-style: none;
}

body > footer{
    background-color: grey;
    color:black;
    font-weight: 600;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1em;
}

body > footer > p{
   margin-left: 10px;
   margin-right: 10px;
}