body > header{
    background-color: grey;
    height: 50px;
}

body > header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > header > nav > ul > li > a{
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    text-align: center;
    color:black;
}

body > header > nav > ul > li > a:hover{
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    text-align: center;
    color:white;
}

body > header > nav > ul > li{
    text-decoration: none;
    padding: 0.5em;
    list-style: none;
}